spring:
  application:
    name: holiday-keeper

  datasource:
    driver-class-name: org.h2.Driver
    url: jdbc:h2:mem:holidaydb;MODE=MySQL;
    username: sa
    password:

  jpa:
    hibernate:
      ddl-auto: update

  h2:
    console:
      enabled: true
      path: /h2-console

server:
  port: 8080

springdoc:
  swagger-ui:
    path: /swagger-ui.html
  api-docs:
    path: /v3/api-docs
